Repository mengxi-ream/read-frog, pull requests merged in 2025-09, with the labels that each got.

#413 fix(extension): improve translation algorithm and tests
  .changeset/fix-translation-algorithm.md
  apps/extension/src/components/translation/error/index.tsx
  apps/extension/src/components/translation/error/retry-button.tsx
  apps/extension/src/entrypoints/host.content/translation-control/node-translation.ts
  apps/extension/src/entrypoints/host.content/translation-control/page-translation.ts
  apps/extension/src/types/config/languages.ts
  apps/extension/src/utils/constants/dom-labels.ts
  apps/extension/src/utils/constants/dom-tags.ts
  apps/extension/src/utils/constants/prompt.ts
  apps/extension/src/utils/host/__tests__/bilingual-translate.test.tsx
  apps/extension/src/utils/host/__tests__/node-translate.test.tsx
  apps/extension/src/utils/host/__tests__/test-website.md
  apps/extension/src/utils/host/__tests__/translate.integration.test.tsx
  apps/extension/src/utils/host/__tests__/translation-only.test.tsx
  apps/extension/src/utils/host/__tests__/utils.ts
  apps/extension/src/utils/host/dom/filter.ts
  apps/extension/src/utils/host/dom/find.ts
  apps/extension/src/utils/host/dom/traversal.ts
  apps/extension/src/utils/host/translate/api/deeplx.ts
  apps/extension/src/utils/host/translate/node-manipulation.ts
  apps/extension/src/utils/message.ts
  apps/website/src/types/languages.ts
  pnpm-lock.yaml
Labels: fix, app: browser extension, size:XXL

#414 fix: don't retranslate the whole ancestor node when auto transla
  .changeset/witty-ads-pick.md
  apps/extension/src/utils/host/translate/node-manipulation.ts
Labels: fix, app: browser extension, size:XS, lgtm

#418 fix: avoid recursive translate on translation only
  .changeset/yummy-swans-hear.md
  apps/extension/src/entrypoints/host.content/translation-control/page-translation.ts
Labels: fix, app: browser extension, size:S, lgtm

#412 fix(extension): fix duplicate addition of existing value
  apps/extension/src/entrypoints/options/pages/translation/always-translate.tsx
Labels: fix, app: browser extension, size:XS, lgtm

#420 fix: reinsert when an internal node is removed
  .changeset/icy-bottles-film.md
  apps/extension/src/utils/styles.ts
Labels: fix, app: browser extension, size:M, lgtm

#432 fix(extension): add more schema tests and missing migration files
  .changeset/fix-config-schema-migration-v020.md
  apps/extension/src/utils/config/__tests__/migration-scripts/all-migrations.test.ts
  apps/extension/src/utils/config/migration-scripts/v019-to-v020.ts
  apps/extension/src/utils/constants/config.ts
Labels: fix, app: browser extension, size:S, lgtm

#428 perf: improve the performance of smash style
  .changeset/pink-spies-change.md
  .github/workflows/stale-issue-pr.yml
  apps/extension/src/utils/host/dom/style.ts
Labels: perf, app: browser extension, size:M, lgtm

#430 feat: better interaction design for custom prompt
  .changeset/empty-suits-wait.md
  apps/extension/src/components/shortcut-key-recorder.tsx
  apps/extension/src/components/ui/insertable-textarea.tsx
  apps/extension/src/entrypoints/options/components/config-card.tsx
  apps/extension/src/entrypoints/options/pages/translation/index.tsx
  apps/extension/src/entrypoints/options/pages/translation/personalized-prompt.tsx
  apps/extension/src/entrypoints/options/pages/translation/personalized-prompt/delete-prompt.tsx
  apps/extension/src/entrypoints/options/pages/translation/personalized-prompt/export-prompt.tsx
  apps/extension/src/entrypoints/options/pages/translation/personalized-prompt/import-prompt.tsx
  apps/extension/src/entrypoints/options/pages/translation/personalized-prompt/index.tsx
  apps/extension/src/entrypoints/options/pages/translation/personalized-prompt/utils/prompt-file.ts
  apps/extension/src/entrypoints/popup/components/translate-prompt-selector.tsx
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
  apps/extension/src/utils/constants/prompt.ts
  apps/extension/src/utils/prompts/translate.ts
  packages/ui/components.json
  packages/ui/src/components/textarea.tsx
Labels: feat, app: browser extension, size:XL

#441 fix: prevent infinite loop in MutationObserver causing browser freeze
  .changeset/fix-mutation-observer-freeze.md
  apps/extension/src/entrypoints/side.content/index.tsx
  apps/extension/src/utils/styles.ts
Labels: fix, app: browser extension, size:M

#443 feat(website): add sitemap.xml
  .changeset/calm-meals-behave.md
  apps/website/src/app/sitemap.ts
Labels: feat, app: website, size:M, lgtm

#474 test: add more config test and test series
  .changeset/smart-breads-deny.md
  .claude/agents/codebase-analyst.md
  .claude/agents/library-researcher.md
  .claude/commands/prp-commands/prp-base-create.md
  .claude/commands/prp-commands/prp-base-execute.md
  .claude/commands/prp-commands/prp-ts-create.md
  .claude/commands/prp-commands/prp-ts-execute.md
  .claude/settings.local.json
  .gitignore
  PRPs/INITIAL.md
  PRPs/README.md
  PRPs/config-migration-test-refactor.md
  PRPs/templates/prp_base.md
  PRPs/templates/prp_base_typescript.md
  apps/extension/src/components/ui/validated-input.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-card.tsx
  apps/extension/src/types/config/provider.ts
  apps/extension/src/utils/config/__tests__/example/types.ts
  apps/extension/src/utils/config/__tests__/example/v001.ts
  apps/extension/src/utils/config/__tests__/example/v002.ts
  apps/extension/src/utils/config/__tests__/example/v003.ts
  apps/extension/src/utils/config/__tests__/example/v004.ts
  apps/extension/src/utils/config/__tests__/example/v005.ts
  apps/extension/src/utils/config/__tests__/example/v006.ts
  apps/extension/src/utils/config/__tests__/example/v007.ts
  apps/extension/src/utils/config/__tests__/example/v008.ts
  apps/extension/src/utils/config/__tests__/example/v009.ts
  apps/extension/src/utils/config/__tests__/example/v010.ts
  apps/extension/src/utils/config/__tests__/example/v011.ts
  apps/extension/src/utils/config/__tests__/example/v012.ts
  apps/extension/src/utils/config/__tests__/example/v013.ts
  apps/extension/src/utils/config/__tests__/example/v014.ts
  apps/extension/src/utils/config/__tests__/example/v015.ts
  apps/extension/src/utils/config/__tests__/example/v016.ts
  apps/extension/src/utils/config/__tests__/example/v017.ts
  apps/extension/src/utils/config/__tests__/example/v018.ts
  apps/extension/src/utils/config/__tests__/example/v019.ts
  apps/extension/src/utils/config/__tests__/example/v020.ts
  apps/extension/src/utils/config/__tests__/example/v021.ts
  apps/extension/src/utils/config/__tests__/example/v022.ts
  apps/extension/src/utils/config/__tests__/migration-scripts/README.md
  apps/extension/src/utils/config/__tests__/migration-scripts/all-migrations.test.ts
  apps/extension/src/utils/config/migration-scripts/v021-to-v022.ts
  eslint.config.mjs
  packages/ui/src/styles/theme.css
Labels: test, docs, app: browser extension, size:XXL, lgtm

#482 style: update select language cells hover color
  .changeset/shiny-trees-sin.md
  apps/extension/src/entrypoints/options/pages/translation/auto-translate-languages.tsx
Labels: style, app: browser extension, size:XS, lgtm

#486 fix: translate attribute is no
  .changeset/warm-moles-dig.md
  apps/extension/src/utils/host/dom/filter.ts
Labels: fix, app: browser extension, size:S, lgtm

#487 fix: no error component after bilingual translation error
  .changeset/open-llamas-dream.md
  apps/extension/src/utils/host/translate/node-manipulation.ts
Labels: fix, app: browser extension, size:S

#488 test: have to test every migration script
  .changeset/easy-ads-mate.md
  apps/extension/src/utils/config/__tests__/migration-scripts/all-migrations.test.ts
Labels: test, app: browser extension, size:XS, lgtm

#492 feat: support 20+ llm providers
  .changeset/fruity-vans-guess.md
  CLAUDE.md
  apps/extension/package.json
  apps/extension/src/entrypoints/options/components/page-layout.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/add-provider-dialog.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/index.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/components/select-field.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/default-provider.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/form.ts
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/index.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/read-model-selector.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/translate-model-selector.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/providers-config.tsx
  apps/extension/src/entrypoints/options/pages/general/read-config.tsx
  apps/extension/src/entrypoints/options/pages/general/translation-config.tsx
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
  apps/extension/src/types/config/config.ts
  apps/extension/src/types/config/provider.ts
  apps/extension/src/utils/atoms/provider.ts
  apps/extension/src/utils/constants/providers.ts
  apps/extension/src/utils/logo.ts
  apps/extension/src/utils/providers/model.ts
  packages/ui/package.json
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/separator.tsx
  pnpm-lock.yaml
Labels: feat, app: browser extension, size:XXL, lgtm

#493 fix: delete provider handler function
  .changeset/small-planets-thank.md
  CLAUDE.md
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/index.tsx
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
  apps/extension/src/utils/config/helpers.ts
  apps/extension/src/utils/host/translate/translate-text.ts
Labels: fix, app: browser extension, size:M, lgtm

#498 build: update deps in workflow
  .github/workflows/changeset-major-warning.yml
  package.json
  pnpm-lock.yaml
Labels: build, size:XS, lgtm

#497 fix: move changeset file to the right folder
  .changeset/major-pens-serve.md
Labels: fix, size:XS, lgtm

#499 ci: add eslint rule for setState in useEffect
  packages/eslint-config/extension.js
  packages/eslint-config/next.js
  packages/eslint-config/react.js
Labels: ci, size:XS, lgtm

#502 fix(extension): improve config handling and page translation initialization
  apps/extension/src/entrypoints/host.content/translation-control/page-translation.ts
  apps/extension/src/utils/config/config.ts
Labels: fix, app: browser extension, size:S

#504 feat: add ai302 quick-add button and UI improvements
  .changeset/green-cows-grow.md
  apps/extension/src/entrypoints/options/components/config-card.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/add-provider-dialog.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/providers-config.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/utils.ts
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
  apps/extension/src/utils/constants/providers.ts
Labels: feat, size:L

#506 fix: static import migrations in service worker
  .changeset/light-carrots-serve.md
  apps/extension/src/utils/config/__tests__/example/v022.ts
  apps/extension/src/utils/config/__tests__/example/v023.ts
  apps/extension/src/utils/config/__tests__/migration-scripts/all-migrations.test.ts
  apps/extension/src/utils/config/migration-scripts/v022-to-v023.ts
  apps/extension/src/utils/config/migration.ts
Labels: fix, app: browser extension, size:L

#508 feat: add tensdaq provider
  .changeset/tender-laws-share.md
  apps/extension/src/assets/providers/tensdaq-color.svg
  apps/extension/src/assets/providers/tensdaq-dark.svg
  apps/extension/src/assets/providers/tensdaq-light.svg
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
  apps/extension/src/types/config/provider.ts
  apps/extension/src/utils/constants/providers.ts
  apps/extension/src/utils/providers/model.ts
Labels: feat, app: browser extension, size:M

#509 fix: provider selector in side content
  .changeset/free-birds-double.md
  apps/extension/src/components/provider/read-provider-selector.tsx
  apps/extension/src/entrypoints/side.content/components/side-content/top-bar.tsx
Labels: fix, app: browser extension, size:S

#515 fix: crash when delete the first provider
  .changeset/odd-clocks-report.md
  .github/workflows/pr-test.yml
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/index.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/providers-config.tsx
  apps/extension/src/utils/atoms/config.ts
  apps/extension/src/utils/atoms/storage-adapter.ts
  apps/extension/src/utils/host/translate/node-manipulation.ts
Labels: fix, app: browser extension, size:M, lgtm

#516 fix: hash key and translate code
  .changeset/itchy-wolves-stop.md
  .changeset/tall-comics-leave.md
  apps/extension/src/entrypoints/side.content/components/side-content/top-bar.tsx
  apps/extension/src/hooks/read/read.tsx
  apps/extension/src/utils/config/languages.ts
  apps/extension/src/utils/constants/dom-tags.ts
  apps/extension/src/utils/host/dom/filter.ts
  apps/extension/src/utils/host/translate/auto-translation.ts
  apps/extension/src/utils/host/translate/translate-text.ts
Labels: fix, app: browser extension, size:M, lgtm

#518 i18n: emphasize free 302 ai
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
Labels: i18n, app: browser extension, size:S, lgtm

#528 feat: add open router
  .changeset/fancy-snakes-roll.md
  .claude/commands/add-provider.md
  apps/extension/package.json
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
  apps/extension/src/types/config/provider.ts
  apps/extension/src/utils/constants/providers.ts
  apps/extension/src/utils/providers/model.ts
  pnpm-lock.yaml
Labels: feat, app: browser extension, size:M

#527 fix: 302 description update
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
Labels: fix, app: browser extension, size:S

#532 fix: inline node with only one block child
  .changeset/tidy-doors-flow.md
  apps/extension/src/utils/host/__tests__/translate.integration.test.tsx
  apps/extension/src/utils/host/dom/traversal.ts
Labels: fix, app: browser extension, size:M, lgtm

#539 style: rename openai compatible provider to custom provider
  .changeset/new-poets-study.md
  apps/extension/src/assets/providers/custom-provider.svg
  apps/extension/src/assets/providers/openai-compatible-dark.svg
  apps/extension/src/assets/providers/openai-compatible-light.svg
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/read-model-selector.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/translate-model-selector.tsx
  apps/extension/src/entrypoints/options/pages/general/read-config.tsx
  apps/extension/src/entrypoints/options/pages/general/translation-config.tsx
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
  apps/extension/src/utils/constants/providers.ts
Labels: style, app: browser extension, size:L

#538 docs(readme): chrome color to orange
  README.md
Labels: docs, size:XS

#541 feat: add ollama provider
  .changeset/lazy-teams-tan.md
  apps/extension/package.json
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/api-key-field.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/base-url-field.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/components/connection-button.tsx
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/index.tsx
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/types/config/provider.ts
  apps/extension/src/utils/constants/providers.ts
  apps/extension/src/utils/providers/model.ts
  apps/website/content/docs/providers/ollama.mdx
  apps/website/content/docs/providers/ollama.zh.mdx
  apps/website/public/tutorial/providers/ollama/ollama.png
  pnpm-lock.yaml
Labels: feat, app: browser extension, app: website, size:XL, lgtm

#545 fix(extension): replace ai-sdk-ollama with ollama-ai-provider-v2
  .changeset/chatty-showers-tickle.md
  apps/extension/package.json
  apps/extension/src/utils/config/config.ts
  apps/extension/src/utils/host/translate/translate-text.ts
  apps/extension/src/utils/providers/model.ts
  pnpm-lock.yaml
Labels: fix, app: browser extension, size:S

#546 perf: don't translate numbers
  .changeset/rude-buttons-peel.md
  apps/extension/src/utils/constants/translate.ts
  apps/extension/src/utils/host/__tests__/translate.integration.test.tsx
  apps/extension/src/utils/host/translate/node-manipulation.ts
Labels: perf, app: browser extension, size:L

#554 fix: change default key
  .changeset/mighty-spiders-flash.md
  apps/extension/src/entrypoints/options/pages/api-providers/provider-config-form/config-header.tsx
  apps/extension/src/entrypoints/popup/components/node-translation-hotkey-selector.tsx
  apps/extension/src/locales/en.yml
  apps/extension/src/locales/ja.yml
  apps/extension/src/locales/ko.yml
  apps/extension/src/locales/zh-CN.yml
  apps/extension/src/locales/zh-TW.yml
  apps/extension/src/utils/constants/config.ts
  apps/extension/src/utils/constants/providers.ts
  apps/extension/src/utils/constants/translate.ts
Labels: fix, app: browser extension, size:S
